

<div id="shopify-section-template--14156684165202__image-gallery" class="shopify-section"><section id="global__gallery-template--14156684165202__image-gallery" class="global__gallery-template--14156684165202__image-gallery global__section global__section--padding aos-init aos-animate" data-section-id="template--14156684165202__image-gallery" data-aos="fade-up">

  

  
  <div class="row grid_wrapper main-columns">


      <div class="global__promo span-4 sm-span-12 auto promo-image1">
        
          <div class="promo-inner">

            
              
  

  <div class="box-ratio" style="padding-bottom: 66.66666666666666%;">
{{ section.settings.image1 | img_url: '1500x' | img_tag }}
  </div>
              
            

            
              <div class="image-overlay"></div>
        	    	
        <div class="caption">
          <div class="caption-content">
            
            
            
              <span class="cta">
                <a href="{{section.settings.button1_link}}">{{section.settings.button1}}</a>
              </span>
            
           </div>
        </div>
	    
        	  

          </div>
        

      	

        <style>

          .global__promo.promo-image1 .cta a, .global__promo.promo-image1 .cta a:visited {
    color: #2d006a;
    background: #ffffff99;
}
.cta a {
    height: 43px;
    line-height: 44px;
    padding: 0 20px;
    display: inline-block;
    width: auto;
    width: initial;
    -webkit-transition: background .5s ease,color .5s ease;
    -moz-transition: background .5s ease,color .5s ease;
    -o-transition: background .5s ease,color .5s ease;
    transition: background .5s ease,color .5s ease;
    background: var(--button-color);
    color: #040404;
}
          .row.grid_wrapper {
    margin-bottom: 25px;
}

            .global__promo.promo-image1 .image-overlay {
              
              
              
              background: rgba(0, 0, 0, 0.1);
            }

            .global__promo.promo-image1 .caption h3,
            .global__promo.promo-image1 .caption .rte p {
              color: #000000;
            }

            .global__promo.promo-image1 .promo-inner .caption-content {
              position: absolute;
              bottom: 50%;
              left: 50%;
              
              width: 100%;
              
              transform: translate(-50%, 50%);
              text-align: left;
              width: fit-content;
            }

            .global__promo.promo-image1 .cta a,
            .global__promo.promo-image1 .cta a:visited {
              color: #000;
              background: #ffffff99 !important;
            }

            .global__promo.promo-image1 .cta a:hover {
              text-decoration: underline;
              color: #000 !important;
              background: #ffffff99 !important;
            }

          
.global__promo .promo-inner .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}
          .theme-features__zoom-effect--enabled .article-image img, .theme-features__zoom-effect--enabled .featured_article-image img, .theme-features__zoom-effect--enabled .image-column img, .theme-features__zoom-effect--enabled .image__section img, .theme-features__zoom-effect--enabled .promo-inner img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 7s cubic-bezier(.25, .5, .8, .65);
    transition: -webkit-transform 7s cubic-bezier(.25, .5, .8, .65);
    transition: transform 7s cubic-bezier(.25, .5, .8, .65);
    transition: transform 7s cubic-bezier(.25, .5, .8, .65),-webkit-transform 7s cubic-bezier(.25, .5, .8, .65);
}

.lazyload-fade.lazyloaded {
    opacity: 1;
}
img[data-sizes=auto] {
    display: block;
    width: 100%;
}
.lazyload-fade {
    opacity: 0;
    transition: opacity .2s;
}
img {
    height: auto;
    width: 100%;
    max-width: 100%;
    border: 0;
}
          
        </style>
      </div>
    


      <div class="global__promo span-4 sm-span-12 auto promo-image2">
        
          <div class="promo-inner">

            
              
  

  <div class="box-ratio" style="padding-bottom: 66.66666666666666%;">
{{ section.settings.image2 | img_url: '1500x' | img_tag }}
  </div>
              
            

            
              <div class="image-overlay"></div>
        	    	
        <div class="caption">
          <div class="caption-content">
            
            
            
              <span class="cta">
                <a href="{{section.settings.button2_link}}">{{section.settings.button2}}</a>
              </span>
            
           </div>
        </div>
	    
        	  

          </div>
        

      	

        <style>
          
span.cta {
    text-transform: uppercase;
    font-family: 'Oswald';
}
    .row.grid_wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}
          

            .global__promo.promo-image2 .image-overlay {
              
              
              
              background: rgba(0, 0, 0, 0.1);
            }

            .global__promo.promo-image2 .caption h3,
            .global__promo.promo-image2 .caption .rte p {
              color: #000000;
            }

            .global__promo.promo-image2 .promo-inner .caption-content {
              position: absolute;
              bottom: 50%;
              left: 50%;
              
              width: 100%;
              
              transform: translate(-50%, 50%);
              text-align: left;
              width: fit-content;
            }

            .global__promo.promo-image2 .cta a,
            .global__promo.promo-image2 .cta a:visited {
              color: #000;
              background: #ffffff99;
            }

            .global__promo.promo-image2 .cta a:hover {
              text-decoration: underline;
              color: #000 !important;
              background: #ffffff99 !important;
            }

            @media screen and (min-width: 1420px) {
.row.grid_wrapper {
    width: 1400px;
}}
@media screen and (min-width: 1320px) {
.row.grid_wrapper {
    width: 1300px;
}}

@media screen and (min-width: 1220px) {
.row.grid_wrapper {
    width: 1200px;
}}
@media screen and (min-width: 980px)
.row.grid_wrapper {
    width: 960px;
}
@media screen and (min-width: 740px) {
.row.grid_wrapper {
    width: 720px;
}
  
  
}
@media screen and (min-width: 500px) {
.row.grid_wrapper {
    width: 90%;
}
}


.grid_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: var(--grid-space);
    grid-row-gap: 40px;
}
.span-4.auto, .span-third.auto {
    grid-column: auto/span 4;
    width: 100%;
}
.span-4, .span-third {
    grid-column: 1/5;
    width: 100%;
}

.span-4 {
    width: 33.333333%;
}
.promo-inner {
    position: relative;
    padding: 12px;
}
.box-ratio {
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
}
.theme-features__zoom-effect--enabled .article-image img, .theme-features__zoom-effect--enabled .featured_article-image img, .theme-features__zoom-effect--enabled .image-column img, .theme-features__zoom-effect--enabled .image__section img, .theme-features__zoom-effect--enabled .promo-inner img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 7s cubic-bezier(.25, .5, .8, .65);
    transition: -webkit-transform 7s cubic-bezier(.25, .5, .8, .65);
    transition: transform 7s cubic-bezier(.25, .5, .8, .65);
    transition: transform 7s cubic-bezier(.25, .5, .8, .65),-webkit-transform 7s cubic-bezier(.25, .5, .8, .65);
}
          @media (max-width: 740px){
.sm-span-12.auto {
    grid-column: auto/span 12!important;
    width: 100%;
}
.promo-inner {
    position: relative;
    padding: 0;
}          
          }
        </style>
      </div>
    


      <div class="global__promo span-4 sm-span-12 auto promo-image3">
        
          <div class="promo-inner">

            
              
  

  <div class="box-ratio" style="padding-bottom: 66.66666666666666%;">
{{ section.settings.image3 | img_url: '1500x' | img_tag }}
              
            

            
              <div class="image-overlay"></div>
        	    	
        <div class="caption">
          <div class="caption-content">
            
            
            
              <span class="cta">
                <a href="{{section.settings.button3_link}}">{{section.settings.button3}}</a>
              </span>
            
           </div>
        </div>
	    
        	  

          </div>
        

      	

      
      </div>
    
    
  </div>
  
<div class="global__promo span-4 sm-span-12 auto promo-image3">
        
          <div class="promo-inner">

            
              
  

  <div class="box-ratio" style="padding-bottom: 66.66666666666666%;">
{{ section.settings.image5 | img_url: '1500x' | img_tag }}
              
            

            
              <div class="image-overlay"></div>
        	    	
        <div class="caption">
          <div class="caption-content">
            
            
            
              <span class="cta">
                <a href="{{section.settings.button4_link}}">{{section.settings.button4}}</a>
              </span>
            
           </div>
        </div>
	    
        	  

          </div>
        

      	

      
      </div>
    
    
  </div>
<div class="global__promo span-4 sm-span-12 auto promo-image3">
        
          <div class="promo-inner">

            
              
  

  <div class="box-ratio" style="padding-bottom: 66.66666666666666%;">
{{ section.settings.image6 | img_url: '1500x' | img_tag }}
              
            

            
              <div class="image-overlay"></div>
        	    	
        <div class="caption">
          <div class="caption-content">
            
            
            
              <span class="cta">
                <a href="{{section.settings.button5_link}}">{{section.settings.button5}}</a>
              </span>
            
           </div>
        </div>
	    
        	  

          </div>
        

      	

      
      </div>
    
    
  </div>
  

</section>




</div>
  <style>

          

            .global__promo.promo-image3 .image-overlay {
              
              
              
              background: rgba(0, 0, 0, 0.1);
            }

            .global__promo.promo-image3 .caption h3,
            .global__promo.promo-image3 .caption .rte p {
              color: #000000;
            }

            .global__promo.promo-image3 .promo-inner .caption-content {
              position: absolute;
              bottom: 50%;
              left: 50%;
              
              width: 100%;
              
              transform: translate(-50%, 50%);
              text-align: left;
              width: fit-content;
            }

            .global__promo.promo-image3 .cta a,
            .global__promo.promo-image3 .cta a:visited {
              color: #000;
              background: #ffffff99 !important;
            }

            .global__promo.promo-image3 .cta a:hover {
              text-decoration: underline;
                color: #000;
              background: #ffffff99 !important;
            }
    button.slick-prev.slick-arrow {
    left: -20px!important;
    position: absolute;
    bottom: 118px;
    height: 55px;
    z-index: 999;
    width: 40px;
    background: 0 0;
    border: #ffdead;
    color: transparent;
}
    button.slick-next.slick-arrow {
    right: 0!important;
    position: absolute;
    bottom: 118px;
    height: 55px;
    width: 40px;
    background: 0 0;
    border: #ffdead;
    color: transparent;
}
	@media screen and (max-width:767px) {

    button.slick-prev.slick-arrow:before,button.slick-next.slick-arrow:before {
    display:none;
    }
}

        </style>
{% schema %}

{
  "name": "Blog Images",
  "settings": [
    
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image",
      "info": "Frist Image"
    },
    
    {
      "type": "text",
      "id": "button1",
      "label": "First button label"
    },
    {
      "type": "url",
      "id": "button1_link",
      "label": "First button link"
    },
    {
      "type": "checkbox",
      "id": "button1_highlight",
      "label": "Highlight first button"
    },
{
      "type": "image_picker",
      "id": "image2",
      "label": "Image",
      "info": "Frist Image"
    },
    
    {
      "type": "text",
      "id": "button2",
      "label": "second button label"
    },
    {
      "type": "url",
      "id": "button2_link",
      "label": "First button link"
    },
    {
      "type": "checkbox",
      "id": "button2_highlight",
      "label": "Highlight first button"
    },
{
      "type": "image_picker",
      "id": "image3",
      "label": "Image",
      "info": "third Image"
    },
    
    {
      "type": "text",
      "id": "button3",
      "label": "First button label"
    },
    {
      "type": "url",
      "id": "button3_link",
      "label": "First button link"
    },
    {
      "type": "checkbox",
      "id": "button3_highlight",
      "label": "Highlight first button"
    },
  {
      "type": "image_picker",
      "id": "image5",
      "label": "Image",
      "info": "Four Image"
    },
    
    {
      "type": "text",
      "id": "button4",
      "label": "First button label"
    },
    {
      "type": "url",
      "id": "button4_link",
      "label": "First button link"
    },
    {
      "type": "checkbox",
      "id": "button4_highlight",
      "label": "Highlight first button"
    },
  {
      "type": "image_picker",
      "id": "image6",
      "label": "Image",
      "info": "Four Image"
    },
    
    {
      "type": "text",
      "id": "button5",
      "label": "First button label"
    },
    {
      "type": "url",
      "id": "button5_link",
      "label": "First button link"
    },
    {
      "type": "checkbox",
      "id": "button5_highlight",
      "label": "Highlight first button"
    }
  ]
}

{% endschema %}
  
  <script  src="{{ 'slick.min.js' | asset_url  }}"></script>
<script  src="{{ 'jquery.min.js' | asset_url  }}"></script>   
{{ 'slick.css' | asset_url | stylesheet_tag }}



<script>
            $(document).ready(function(){

      $('.main-columns').slick({
  lazyLoad: 'ondemand',
//         dots:true,
  autoplay: true,
  arrows: false,
  autoplaySpeed: 1500,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
              });

  </script>
